:root {
  /*Color*/
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #065fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --bgcolor: #f9f9f9;

  /*Size*/
  --padding: 1.2rem;
  --padding-icon-width: 1.4rem;
  --padding-icon-height: 10px;
  --avatar-size: 36px;
  --margin-small: 0.4rem;
  --margin-medium: 1rem;

  /*Font Size*/
  --font-large: 1.2rem;
  --font-medium: 1rem;
  --font-small: 0.8rem;
  --font-micro: 0.75rem;

  /*font-weight*/
  --font-logo: 600;
  --font-title: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--bgcolor);
  position: relative;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--white-color);
  color: var(--black-color);
  position: sticky;
  top: 0;
  z-index: 100;
}
header .logo {
  font-size: var(--font-large);
  font-weight: var(--font-logo);
}
header .logoIcon {
  color: var(--red-color);
}

/*search bar*/
.search {
  display: inline-block;
  cursor: pointer;
}
.search .fa-times {
  display: none;
}
.search.searching input {
  width: 60%;
  opacity: 1;
}
.search.searching .fa-search {
  display: none;
}
.search.searching .fa-times {
  display: block;
}
.search input {
  display: none;
  position: absolute;
  top: 13px;
  width: 0px;
  right: 40px;
  display: block;
  -webkit-apperance: none;
  height: 30px;
  opacity: 0;
  line-height: 35px;
  transition: all 400ms;
}
.search input:focus {
  outline: none;
}

/* Video & Info*/
.player {
  text-align: center;
  background-color: var(--bgcolor);
}
.player video {
  width: 100%;
  height: 100%;
  max-width: 768px;
}

.videoInfo > .info {
  padding: var(--padding) 0;
}
.info .metadata .hashTag {
  display: flex;
  color: var(--blue-color);
  font-size: var(--font-small);
}
.info .metadata .hashTag li {
  margin-right: var(--padding);
}
.info .metadata .videoTitle {
  display: flex;
}
.info .metadata .videoTitle .title {
  font-size: var(--font-large);
  line-height: 1.8rem;
  margin-right: var(--padding);
  font-weight: var(--font-title);
}
.info .metadata .videoTitle .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.info .metadata .videoTitle .moreBtn {
  height: 100%;
  transition: all 500ms ease-in-out;
  margin-top: 1.4rem;
  color: var(--grey-dark-color);
  z-index: 1;
}
.info .metadata .videoTitle .clicked {
  transform: rotate(180deg);
}
.info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

/*Action Button*/
.info .actions {
  display: flex;
  justify-content: space-between;
  margin: var(--padding) auto;
  width: 90%;
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-large);
  color: var(--grey-dark-color);
}

.info .actions button .icon {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  display: inline-block;
}
.info .actions button .iconText {
  font-size: var(--font-small);
}

/*Channel Description*/
.channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
  padding: var(--padding) 0;
}
.channel .metadata {
  display: flex;
  align-items: center;
}
.channel .metadata .info {
  display: flex;
  flex-direction: column;
  margin: 0 var(--padding);
}

.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}
.channel .metadata .name {
  font-size: var(--font-medium);
}
.channel .metadata .subscriber {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}
.channel .subscribe {
  padding: var(--padding-icon-height) var(--padding-icon-width);
  color: var(--white-color);
  background-color: var(--red-color);
  font-size: var(--font-medium);
  border-radius: 5%;
}

/*Play list*/

.playList .upNext {
  font-size: var(--font-medium);
  color: var(--black-color);
}
.playList .item {
  display: flex;
  flex-direction: row;
  margin-top: var(--padding);
  position: relative;
}
.playList .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}
.playList .item .img img {
  width: 100%;
}
.playList .item .info {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}
.item .moreView {
  flex: 1 1 10%;
  color: var(--grey-dark-color);
  visibility: hidden;
}
.playList .item:hover .moreView {
  visibility: visible;
  cursor: pointer;
}
.playList .item .info .listTitle {
  font-size: var(--font-medium);
  color: var(--black-color);
  margin-bottom: var(--margin-small);
}
.item div#addList {
  display: none;
  color: var(--black-color);
  font-size: var(--font-small);
  border: 1px solid var(--grey-light-color);
  z-index: 58;
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: var(--white-color);
}
#addList li {
  border-bottom: 1px solid var(--grey-light-color);
  padding: var(--padding);
}
#addList li:last-child {
  border-bottom: none;
}
.playList .item .info .channelName {
  font-size: var(--font-small);
  line-height: calc(var(--font-small) * 1.8);
  color: var(--grey-dark-color);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-icon-width);
}

@media (min-width: 1000px) {
  .main {
    flex-direction: row;
  }
  .videoInfo {
    flex: 1 1 60%;
  }
  .playList {
    flex: 1 1 40%;
    padding-left: var(--padding);
  }
}
